extends layout

block head
	title Water Monitoring App
block content
	.container
		.jumbotron
			h1 Welcome to the water monitoring app!
			p This app lets you monitor the temperature and humidity of any water body in real time.

			a(href='/waterbodies') See all monitored water bodies