h1 #{waterBody.name}

table
    tr
        th Minimum Temperature
        th Maximum Temperature

    each temperatureInfo in temperatureData
        tr
            td #{temperatureInfo.minimumTemperature}
            td #{temperatureInfo.maximumTemperature}