h1 #{waterBody.name}

if temperatureData.length != 0
    table
        tr
            th Minimum Temperature
            th Maximum Temperature

        each temperatureInfo in temperatureData
            tr
                td #{temperatureInfo.minimumTemperature}
                td #{temperatureInfo.maximumTemperature}
else
    p Data not available